*{margin: 0;
padding: 0;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
font-size: 18px;
font-family: Arial, Helvetica, sans-serif;
}

.nav {background: #000;}
.nav a{ text-align: center; padding: 10px 0px; color: #fff; }
.nav a:hover{background-color: #ccc;}

a{text-decoration: none; font-weight: bold;}

.navbar-dark .navbar-toggler-icon {
    color: black !important;
    background-image: url("https://i.ibb.co/6ZwGN0h/hamburguer.png") !important;
}




/* Pequenos celulares */
@media screen and (max-width: 480px) {
    .nav{display: none;  flex-direction: column; order:2;}
    .nav a{width: 100%; }
    .header{display: flex;flex-direction: column; }
    .buttonMob{order: 1px; text-align: right; padding: 5px 5% 5px 0;}
    .navbar-collapse {
        flex-basis: 100%;
        flex-grow: 1;
        align-items: center;
        background-color: #CC0543 !important;
        margin-top: 10px;
    }
    .navbar-dark .navbar-nav .nav-link {
        color: #f8f9fa !important;
        margin: auto;
    }
}


/* Grandes celulares */
@media screen and (min-width: 481px) and (max-width: 768px) {
    .nav{display: none;  flex-direction: column; order:2;}
    .nav a{width: 100%; }
    .header{display: flex;flex-direction: column; }
    .buttonMob{order: 1px; text-align: right; padding: 5px 5% 5px 0;}
    .navbar-collapse {
        flex-basis: 100%;
        flex-grow: 1;
        align-items: center;
        background-color: #CC0543 !important;
        margin-top: 10px;
    }
    .navbar-dark .navbar-nav .nav-link {
        color: #f8f9fa !important;
        margin: auto;
    }

}


/* Pequenos laptops */
@media screen and (min-width: 769px) and (max-width: 1199px) {
    .nav{display: flex; }
        .nav a{width: 25%; }

    .buttonMob{display: none;}
    .nav-link {
        color: white !important;
    } 
    nav.navbar.navbar-expand-lg.navbar-dark.bg-white {
        margin: 0px 7.5vw;
    } 
    a#cadastrar {
        background-color: #CC0543;
        padding: 10px 20px;
        border-radius: 6px;
        color: white !important;
    }
    .navbar-collapse {
        flex-basis: 100%;
        flex-grow: 1;
        align-items: center;
        background-color: #CC0543 !important;
        margin-top: 10px;
    }
    .navbar-dark .navbar-nav .nav-link {
        color: #f8f9fa;
        margin: auto;
    }
}

/* Laptops maiores e monitores de mesa */
@media screen and (min-width: 1200px){
    .nav{display: flex; }
    
        .nav a{width: 25%; }
    
    .buttonMob{display: none;}
    .nav-link {
        color: #CC0543 !important;
    }
    nav.navbar.navbar-expand-lg.navbar-dark.bg-white {
        margin: 0px 7.5vw;
    }

    a#cadastrar {
        background-color: #CC0543;
        padding: 10px 20px;
        border-radius: 6px;
        color: white !important;
    }
    
}